
<div class="grid">
  <div class="col-6 col-offset-3 mt-8 vertical-align-middle">

    <p-card styleClass="dark-card">
      <h4 class="white m-0">Select a city from around the world:</h4>
      <form  [formGroup]="selectCity">
        <div class="p-input-icon-left mt-3">
            <i class="pi pi-search"></i>
            <input type="text"
                  pInputText
                  placeholder="Type a city"
                  formControlName="city">
        </div>
        <div class="mt-6">
        <h4 class="white m-0">
            Write your name or alias so that we can refer to you:</h4>
            <div class="mt-3">

                <input type="text"
                      pInputText
                      placeholder="Type your Name"
                      formControlName="userName">
            </div>
          </div>


      </form>
      <button pButton
              type="button"
              label="Buscar"
              class="mt-4"
              (click)="getCity()">
      </button>

      <p *ngIf="error" class="mt-4 text-red-500 error-box">
        <b>{{ typedCity | titlecase}}</b> does not exist in the whole world... or it is not misspelled. Try again.
      </p>
      <p *ngIf="nameError" class="mt-4 text-red-500 error-box">
        Your name is required and must have at least 3 letters.
      </p>
    </p-card>
  </div>
</div>
