<p-card styleClass="light-card">

    <div class="grid">
      <div class="col bg-dark">
        <h3 class="m-1">My other locations</h3>
      </div>
    </div>

    <app-new-location-card></app-new-location-card>

    <p class="dark-text">
      The are no locations yet...
    </p>

    <div *ngIf="addCity">
      <form [formGroup]="locationForm"  class="bg-light p-3 m-1 grid" (submit)="setLocation();">
          <span class="col-8 p-float-label">
              <p class="dark-text">Add new location</p>
              <input formControlName="location" id="add-new-location" type="text" pInputText>
          </span>
          <span class="col-6">
              <p-checkbox formControlName="description" [binary]="true" label="Fast Description"></p-checkbox>
          </span>
          <span class="col-6">
              <p-checkbox formControlName="temperature" [binary]="true" label="Actual temperature"></p-checkbox>
          </span>
          <span class="col-6">
              <p-checkbox formControlName="minMaxTemp" [binary]="true" label="Min & Max temperature"></p-checkbox>
          </span>
          <span class="col-6">
              <p-checkbox formControlName="wind" [binary]="true" label="Wind Speed"></p-checkbox>
          </span>
          <span class="col-6">
              <p-checkbox formControlName="visibility" [binary]="true" label="Visibilitity"></p-checkbox>
          </span>
          <span class="col-12">
            <div class="text-center mt-3">
              <button pButton pRipple class="btn-add-city" type="button"
                      label="Add location" type="submit"></button>
            </div>
          </span>

      </form>
    </div>


        <div class="text-center mt-3">
          <button pButton pRipple class="btn-select-city" type="button"
                  label="Add another city"
                  (click)="addNewCity()"></button>
        </div>
</p-card>
