<div *ngIf="!provRequerido">
  <mat-spinner></mat-spinner>
</div>
<!-- <ng-template #divProv> -->

<div class="row">
     <div class="col-12" *ngIf="provRequerido">
      <h2 class="dp-cnt"> {{ provRequerido.nombre }} </h2>
      <button mat-button
                color="primary"
                class="ms-3"
                [routerLink]="['/decowood/proveedores']">
                Volver a Proveedores
      </button>
      <button mat-button
                color="accent"
                class="ms-3  float-end"
                (click)="editProv()">
                Editar
      </button>
      <hr>

      <div *ngIf="!this.edit">
        <p>Pedidos: {{provRequerido.pedidos_asignados}}</p>
        <p>Localización: {{provRequerido.localizacion}}</p>
        <p>contacto:{{provRequerido.contacto}}</p>
        <p>ID: {{provRequerido.id}}</p>
      </div>

      <div *ngIf="this.edit">
        <form [formGroup]="editForm">

          <div class="col-4">
            <mat-form-field appearance="fill">
              <mat-label>Nombre</mat-label>
              <input formControlName="nombre"
                      matInput>
            </mat-form-field>
          </div>

          <div class="col-4">
            <mat-form-field appearance="fill">
              <mat-label>Pedidos </mat-label>
              <input formControlName="pedidos"
                      matInput>
            </mat-form-field>
          </div>

          <div class="col-4">
            <mat-form-field appearance="fill">
              <mat-label>Localización</mat-label>
              <input formControlName="localizacion"
                      matInput>
            </mat-form-field>
          </div>

        </form>

        <button mat-raised-button
                color="primary"
                (click)="guardarCambios()">
                Guradar cambios
        </button>
        <button mat-button
                color="primary"
                class="ms-3"
                (click)="cancelarCambios()">
                Cancelar cambios
        </button>
      </div>
    </div>
</div>

<hr>

<div class="row">
  <div class="col-4">
    <mat-card class="example-card">
      <mat-card-content>
        <p>ID Pedido: 485754</p>
        <p>Producto: Mesita de noche vipolar</p>
        <p>SKU: 4526-565sad589</p>
        <p>Color: Beige</p>
        <p>Unidades: 3</p>
        <p>Estado Pedido: Ppreparando</p>
      </mat-card-content>

      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>

    </mat-card>
  </div>
</div>

