<div *ngIf="pedidoRequerido">
  <div class="row">
        <div class="col-12">
          <h2 class="dp-cnt">Pedido: {{ pedidoRequerido.id }}</h2>
          <button mat-button
                  color="primary"
                  class="ms-3"
                  [routerLink]="['/decowood/pedidos']">
                  Volver a Pedidos
          </button>
        </div>
  </div>
  <div class="row">
    <div class="col-12"><hr></div>
  </div>

  <div class="row">
    <div class="col-12">
        <h3>Estado del pedido: {{ pedidoRequerido.estado_pedido }} </h3>
        <h3>Productos: {{ pedidoRequerido.productos }} </h3>
    </div>
  </div>

  <div class="row">
    <div class="col-10">
      <app-card-ped-producto [productosRecibidos]="productos" class="row ms-0"></app-card-ped-producto>
    </div>
    <div class="col-2">
        <button mat-raised-button
                color="primary"
                (click)="guardarProveedor()">
        Guardar Cambios
</button>
    </div>
  </div>

</div>
