

<p-card *ngFor="let location of savedLocations" styleClass="dark-card-location mt-3">
    <div class="grid">

      <div class="col-10 ">
        {{ location.location }}
      </div>
      <div class="col-2">X</div>

      <div class="col-4">
        Description: {{ location.description }}
      </div>
      <div class="col-4">
        Temperature: {{ location.temperature }}
      </div>
      <div class="col-4">
        Max. Temp: {{ location.minMaxTemp[0] }}
      </div>
      <div class="col-4">
          Min. Temp: {{ location.minMaxTemp[1] }}
        </div>
      <div class="col-4">
          Visibility: {{ location.visibility }}
      </div>
      <div class="col-4">
        Wind: {{ location.wind }}
      </div>

  </div>
</p-card>
