<p-card styleClass="dark-card">
    <ng-template pTemplate="header">
        <div class="grid">
          <div class="col-3">
            <p>Aqui va la IMG</p>
          </div>
          <div class="col-9">
              <h2>22/02/23</h2>
              <p>{{ currentDateTime }}</p>
          </div>
        </div>
    </ng-template>
    <div class="text-center">
        <h2>{{ startCity.temp}} ºC</h2>
        <h2>{{ startCity.city | titlecase }}</h2>
        <p>{{ startCity.country }}</p>
    </div>
    <hr>
    <div class="text-center mt-6">
      <button pButton pRipple class="btn-ppal" type="button" label="Remove Principal City"></button>
    </div>

</p-card>
