img.sidebar-logo {
  width: 100%;
  padding: 20px;
}
ul.sidebar-menu {
  padding: 0px;
}
li.sidebar-single {
  list-style: none;
  text-align: center;
  padding: 15px 0px;
}
.custom-link {
  color: black;
  text-decoration: none;
  &:hover{
    color: gray;
  }
}

// background: #d0cece;
// border: 1px solid #989898;
// border-radius: 10px;
