<form class="buscador-pedido"
      [formGroup]="formBusqueda">
<mat-form-field appearance="fill">
  <mat-label>Busqueda por ID</mat-label>
  <input matInput
         formControlName="busqueda">
</mat-form-field>
</form>

<button mat-raised-button color="primary"
        (click)="buscarPedido()"
        >Buscar
</button>

<div class="resp"
      *ngIf="validate()">
   <span>El ID no es correcto</span>
</div>



<!-- <p> formBusqueda.valid </p>
<pre> {{formBusqueda.valid}} </pre>

<p> formBusqueda.touched </p>
<pre> {{formBusqueda.touched}} </pre>

<p> formBusqueda.invalid </p>
<pre> {{formBusqueda.invalid}} </pre> -->
