<mat-card class="pedido-card mb-3 col-5 me-3"
                  *ngFor="let prod of productosRecibidos"
                  id= "{{ prod.sku }}">

          <mat-card-content>
              {{ prod.nombre }} <br>
              SKU: {{ prod.sku }} <br>
              Categoria: {{ prod.categoria }} <br>
              Subcategoría: {{ prod.subcategoria }} <br>
              Color: {{ prod.color }} <br>
              Unidades: {{ prod.unidades }} <br>
              <hr>
              Proveedor: {{ prod.proveedor }} <br>
              <div *ngIf="prod.proveedor === ''; else editarProveedor ">
                <mat-form-field appearance="fill"
                                *ngIf="assign">
                  <mat-label>Buscar Proveedor</mat-label>
                  <mat-select  name="proveedores"
                               id= "{{ prod.sku }}"
                               (selectionChange)="selectProv( prod.sku, selectedValue )"
                               [(ngModel)]="selectedValue">
                    <mat-option *ngFor="let proveedor of proveedores"
                                [value]="proveedor.nombre"
                                >
                      {{proveedor.nombre}}
                    </mat-option>
                  </mat-select>

                </mat-form-field>

                <button mat-button
                        color="warn"
                        (click)="asignProv()"
                        *ngIf="!assign">
                        Asignar Proveedor
                </button>

              </div>

              <ng-template #editarProveedor>
                <button mat-button
                        color="warn"
                        class="float-right">
                        Editar Proveedor
                </button>
              </ng-template>


          </mat-card-content>
        </mat-card>

